
:root {
  --primaryBlue: #1992D4;
  --primaryDarkBlue: #1474a9;
  --white: #ffffff;
  --gold: #F0B429;
  --greyBG: #E2E8F0;

  --font-size-body: 16px;
  --font-family-body: "Roboto", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* filter: brightness(0) invert(1); */
img {
  max-width: 100%;
  
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
}

.icon-pfp,
.icon-svg {
  width: 24px;
}

.icon-svg{
  filter: brightness(0) invert(1); 
}

body {
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  background-color: var(--white);
}

.nav-mobile-menu {
  background-color: var(--primaryBlue);
}

.header-nav-mobile .nav-mobile-menu {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  color: var(--white);
}

.header-nav-mobile img {
  width: 32px;
}

.nav-menu-overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.5);
}

.navbar-container {
  background-color: var(--primaryBlue);
  position: fixed;
  height: 100%;
  width: 75%;
  z-index: 100;
  padding: 1rem;
  max-width: 40vh;
  color: var(--white);
  top: 0;
  transition: all 0.2s;
  left: -90%;
  
}

.navbar-container.showOverlay {
  left: 0;
}

.dashboard-logo{
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 2.5rem;
  align-items: center;
}

.nav-link a {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 1rem;
}

.nav-link:hover,
.nav-link:focus {
  filter: invert(25%);
}

.primary-nav {
  margin-bottom: 2.5rem;
}

/* Mobile Footer */
.footer-nav-mobile .nav-mobile-menu{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-nav-mobile .nav-mobile-menu-item{
  width: 100%;
  height: auto;
  text-align: center;
  padding: .75rem 0;
  cursor: pointer;
  border-top: 4px solid transparent
}

.footer-nav-mobile .nav-mobile-menu-item:hover,
.footer-nav-mobile .nav-mobile-menu-item:focus {
  border-top: 4px solid var(--gold);
  background-color: var(--primaryDarkBlue);
}

/* Main content */
.main-content-container {
  margin-bottom: 5rem;
}