
:root {
  --primaryBlue: #1992D4;
  --white: #ffffff;
  --gold: #F0B429;
  --greyBG: #E2E8F0;

  --font-size-body: 16px;
  --font-family-body: "Roboto", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* filter: brightness(0) invert(1); */
img {
  max-width: 100%;
  
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.icon-pfp,
.icon-svg {
  width: 50px;
}

.icon-svg{
  filter: brightness(0) invert(1); 
}

body {
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  background-color: var(--white);
}

.nav-mobile-menu {
  background-color: var(--primaryBlue);
}

.header-nav-mobile .nav-mobile-menu {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  color: var(--white);
}

.header-nav-mobile img {
  width: 32px;
}