
:root {
  --primaryBlue: #1992D4;
  --primaryDarkBlue: #1474a9;
  --white: #ffffff;
  --gold: #F0B429;
  --greyBG: #E2E8F0;

  --font-size-body: 16px;
  --font-family-body: "Roboto", sans-serif;
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* filter: brightness(0) invert(1); */
img {
  max-width: 100%;
  
}
.mobile {
  display: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  transition: all 0.25s cubic-bezier(0.3, 0, 0.4, 1) 0s;
}

.icon-pfp,
.icon-svg {
  width: 24px;
}

.navbar-container .icon-svg,
.nav-mobile-menu .icon-svg{
  filter: brightness(0) invert(1); 
}

body {
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  background-color: var(--greyBG);
}

.nav-mobile-menu {
  background-color: var(--primaryBlue);
}

.header-nav-mobile .nav-mobile-menu {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-items: center;
  color: var(--white);
  padding: .5rem 0;
}

.header-nav-mobile img {
  width: 32px;
}

.nav-menu-overlay{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0,0,0,0.5);
}

.navbar-container {
  background-color: var(--primaryBlue);
  position: fixed;
  height: 100%;
  width: 75%;
  z-index: 100;
  padding: 1rem;
  max-width: 40vh;
  color: var(--white);
  top: 0;
  transition: all 0.2s;
  left: -90%;
  
}

.navbar-container.showOverlay {
  left: 0;
}

.dashboard-logo{
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 2.5rem;
  align-items: center;
}

.nav-link a {
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-bottom: 1rem;
}

.nav-link:hover,
.nav-link:focus,
.card-cta a:hover,
.card-cta a:focus {
  filter: invert(25%);
}

.primary-nav {
  margin-bottom: 2.5rem;
}

/* Mobile Footer */
.footer-nav-mobile .nav-mobile-menu{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer-nav-mobile .nav-mobile-menu-item{
  width: 100%;
  height: auto;
  text-align: center;
  padding: .75rem 0;
  cursor: pointer;
  border-top: 4px solid transparent;
}

.footer-nav-mobile .nav-mobile-menu-item:hover,
.footer-nav-mobile .nav-mobile-menu-item:focus {
  border-top: 4px solid var(--gold);
  background-color: var(--primaryDarkBlue);
}

.active {
  border-top: 4px solid var(--gold) !important;
  background-color: var(--primaryDarkBlue);
}

.hidden {
  display: none;
}

/* Header section */
.header {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: var(--white);
}
input[name="search"] {
  background-color: var(--greyBG);
  padding: 0 1rem;
  border: none;
  border-radius: 50px;
  height: 30px;
  width: 100%;
}

.search-contorl .user-controls,
.search-bar > img {
  display: none;
}

.search-contorl  {
  padding: 1rem;
}

.welcome {
  display: none;
}

.user-welcome {
  padding: 1rem;
}

.buttons-containers {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  grid-gap: .5rem;
  padding: 0 .5rem;
}

.buttons-containers button {
  background-color: var(--primaryBlue);
  color: var(--white);
  border-radius: 50px;
  height: 35px;
}

.buttons-containers button:hover,
.buttons-containers button:focus {
  background-color: var(--primaryDarkBlue);
}

/* Main container */
.main-content-container {
  margin-bottom: 56px; /* height of footer */
}

.main-content {
  background-color: var(--greyBG);
  padding: 1rem 0;
}

#projects-container > h2,
#announcements-container > h2,
#trending-container > h2 {
  margin-bottom: 1rem;
}

#announcements-container > h2,
#trending-container > h2 {
  padding: 1rem;
}

#projects-container {
  padding: 1rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
}

.project-card {
  background-color: var(--white);
  border-radius: 8px;
  border-left: 10px solid var(--gold);
  padding: 1rem;
  display: grid;
  grid-template-rows: 4fr 1fr;
  justify-items: end;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-cta{
  display: flex;
  align-items: center;
  gap: .5rem;
}

/* Annoucnements */
.announcements,
.trending {
  background-color: var(--white);
  padding: 1rem;
}

.announcement:not(:last-child) {
  margin-bottom: 1rem;
  border-bottom: 2px solid var(--greyBG);
  padding: 1rem 0;
}

/* Trending */
.trending {
  display: grid;
  row-gap: 2rem;
}

.trending-profile{
  display: grid;
  grid-template-columns: 100px 1fr;
  align-items: center;
}

.trending-profile > img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  object-fit: contain;
}

.trending-profile-info {
  color: black;
}

.trending-profile-info > :first-child{
  font-weight: bold;
}

.trending-profile-info > :nth-child(2){
  opacity: .75;
}