@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');


:root {
    --black: #050505;
    --darkGray: #555555;
    --gray: #A4A4A4;
    --white: #ffffff;
    --offWhite: #F4F4F4;
    
    --darkSkyBlue: #86C5D8;
    --lightBlue: #add8e6;
    --powderBlue: #afdceb;

    --font-size-body: 16px;
    --font-family-heading: "Young Serif", sans-serif;
    --font-family-body: "Outfit", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    /* display: block; */
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

.icon-svg {
    width: 20px;
}


body {
    margin: 0;
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
}

button {
    padding: 0;
}


.flag {
    width: 15px;
    height: 15px;
    border-radius: 4px
}


.low {
    background-color: green;
}

.medium {
    background-color: orange;
}

.high {
    background-color: red;
}

.task-active {
    background-color: var(--darkSkyBlue);
}


#overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.full-overlay {
    z-index: 102 !important;
}


.header-nav-mobile {
    padding: 1rem .5rem;
    box-shadow: 0 0 10px #00000062;
    background: var(--white);
    z-index: 102;
    position: relative;
}

.nav-mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.nav-mobile-menu-item:first-child  {
    position: absolute;
    left: 1rem;
}

.side-bar.showOverlay {
    left: 0;
}

.side-bar {
    background-color: var(--offWhite);
    z-index: 101;
    transition: all 0.2s;
    position: absolute;
    width: 75%;
    max-width: fit-content;
    height: 100vh;
    padding: 1.5rem 1rem;
    box-shadow: 0 0 10px #00000062;
    left: -90%
}

#add-task-btn,
.nav-task-container {
    margin-bottom: 2rem;
}

.icon-svg path {
    fill: blue; /* Change the icon color */
}


.add-task {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem 1rem;
    border-radius: 8px;
    background-color: var(--darkSkyBlue);
    font-size: .7rem;
}

.add-task > h2 {
    opacity: .75;
}

.add-task:hover,
.add-task:focus {
    background-color: var(--lightBlue);
}


.nav-task-filter .filter-item {
    border: 1px solid var(--darkSkyBlue);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    gap: 1rem;
    width: 100%;
    font-size: .85rem;
}

.nav-task-filter .filter-item:hover,
.nav-task-filter .filter-item:focus {
    background-color: var(--darkSkyBlue);
}

.nav-project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.add-project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.add-project:hover {
    background-color: var(--gray);
    border-radius: 50%
}

#nav-project-items .nav-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.5rem;
}

.project-title,
.view-more {
    overflow: hidden;
    cursor: pointer;
}

#project-error,
#task-error {
    margin-bottom: 1rem;
}

.project-title:hover,
.project-title:focus,
.view-more:hover,
.view-more:focus {
    color: var(--darkSkyBlue);
}

.project-title > h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

#nav-project-items .nav-item .project-btns {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
} 

.project-btns button:hover,
.project-btns button:focus,
.task-btn  button:hover,
.task-btn  button:focus {
    opacity: .6;
}

#add-project-form {
    width: 100%;
}

#add-project-form input {
    width: 100%;
    border-radius: 4px;
    padding: .5rem;
    border: 1px solid var(--black);
    margin-bottom: 1rem;
}

.main-content {
    padding: 1rem;
}

.main-header-container,
.task-dialog-header {
    margin-bottom: 1rem;;
}

.task-card{
    padding: 1rem;
    background-color: var(--offWhite);
    color: var(--black);
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 2rem;
}

.task-title input {
    margin: 0;
    width: 15px;
    height: 15px;
}

.task-header {
    display: flex;
    justify-content: space-between;
}

.task-project:hover,
.task-project:focus {
    color: var(--darkSkyBlue);
    cursor: pointer;
}

.task-priority,
.task-title {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: .5rem;
}

.date-created {
    margin-bottom: .25rem;
}

.task-btn {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.task-right{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#task-dialog-container,
#delete-dialog-container,
#new-project-dialog-container {
    border-radius: 4px;
    width: 75%;
    max-width: 400px;
    z-index: 100;
    text-align: center;
    background-color: var(--offWhite);
}

#task-form div {
    margin-bottom: .75rem;
}

#task-form label {
    display: inline-block;
    margin-bottom: .25rem;
}

#task-form input,
#task-form select {
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--black);
    padding: .5rem;
}

#task-form select {
    text-align: center;
    margin-bottom: .5rem;
    cursor: pointer;
    border-radius: 4px;
}

.form-btn-container {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
}

.form-btn-container button {
    border: 2px solid var(--darkSkyBlue);
    padding: .5rem 1rem;
    border-radius: 50px;
    color: var(--black);
    font-weight: bold;
}

.form-btn-container button:hover,
.form-btn-container button:focus {
    background-color: var(--darkSkyBlue);
}



@media screen and (min-width: 800px){
    #mobile-menu-btn{
        display: none;
    }

    .page-content {
        display: flex;
        height: 100%;
        width: 100%;
    }

    .side-bar {
        position: relative;
        left: unset;
    }

    .main-content {
        max-width: 1024px;
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    #overlay {
        z-index: 105;
    }
}