@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;600;700&family=Young+Serif&display=swap');


:root {
    --black: #050505;
    --darkGray: #555555;
    --gray: #A4A4A4;
    --white: #ffffff;
    --offWhite: #F4F4F4;
    
    --darkSkyBlue: #86C5D8;
    --lightBlue: #add8e6;
    --powderBlue: #afdceb;

    --font-size-body: 16px;
    --font-family-heading: "Young Serif", sans-serif;
    --font-family-body: "Outfit", sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

h1,
h2,
h3 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
    /* display: block; */
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

.icon-svg {
    width: 20px;
}


body {
    margin: 0;
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
}

#nav-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
}

.header-nav-mobile {
    padding: 1rem .5rem;
    box-shadow: 0 0 10px #00000062;
    background: var(--white);
    z-index: 102;
    position: relative;
}

.nav-mobile-menu {
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.nav-mobile-menu-item:first-child  {
    position: absolute;
    left: 1rem;
}


.side-bar {
    background-color: var(--offWhite);
    z-index: 101;
    transition: all 0.2s;
    position: absolute;
    width: 75%;
    max-width: fit-content;
    height: 100%;
    padding: 1.5rem 1rem;
    box-shadow: 0 0 10px #00000062;
}

.add-task-btn,
.nav-task-container {
    margin-bottom: 2rem;
}

.icon-svg path {
    fill: blue; /* Change the icon color */
}


.add-task {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .5rem 1rem;
    border-radius: 8px;
    background-color: var(--darkSkyBlue);
    font-size: .7rem;
}

.add-task > h2 {
    opacity: .75;
}

.add-task:hover,
.add-task:focus {
    background-color: var(--lightBlue);
}


.nav-task-items .nav-item {
    border: 1px solid var(--darkSkyBlue);
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: .5rem 1rem;
    border-radius: 8px;
    margin-bottom: 1rem;
    gap: 1rem;
    width: 100%;
    font-size: .85rem;
}

.nav-task-items .nav-item:hover,
.nav-task-items .nav-item:focus {
    background-color: var(--darkSkyBlue);
}

.nav-project-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.add-project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
}

.add-project:hover {
    background-color: var(--gray);
    border-radius: 50%
}

.nav-project-item .nav-item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1.5rem;
}

.project-title {
    overflow: hidden;
    cursor: pointer;
}

.project-title:hover,
.project-title:focus {
    color: var(--darkSkyBlue);
}

.project-title > h3 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.nav-project-item .nav-item .project-btns {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
} 

.project-btns button:hover,
.project-btns button:focus {
    opacity: .6;
}

.add-project-form {
    width: 100%;
}

.add-project-form input {
    width: 100%;
    border-radius: 4px;
    padding: .25rem;
    border: 1px solid var(--black);
}
