#mission-statement {
  background: url(../assets/house-coffee-cafe-order-menu.jpg);
  background-size: cover;
  background-position: top center;
}

.mission-text-container {
  text-align: center;
  padding: 7rem 1.5rem;
  margin: 0 auto;
  max-width: 500px;
}

.mission-text {
  font-size: 1.5rem;
  line-height: 2rem
}

#menu-preview-gallery {
  position: relative;
}

#menu-preview-gallery > .menu-item:nth-of-type(2),
#menu-preview-gallery > .menu-item:nth-of-type(3){
  display: none;
}

.menu-item  {
  background-image: url(../assets/House-Coffee.jpg);
  background-position: center center;
  background-size: cover;
  padding: 200px 0;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  cursor: pointer;
  transition: opacity 0.3s;
  opacity: 1;
  position: relative;
}

.menu-item-text {
  color: var(--black);
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.7);
  opacity: 0;
  z-index: 2;
}

.fade-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0));
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

.menu-item:hover .fade-overlay,
.menu-item:hover .menu-item-text {
  opacity: 1;
}

.left-arrow, .right-arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  font-weight: bold;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  user-select: none;
  opacity: 0.8;
  transition: opacity 0.3s;
  z-index: 300;
}

.left-arrow {
  left: 0;
}

.right-arrow {
  right: 0;
}

@media screen and (min-width: 900px){ 
  #menu-preview-gallery {
    display: flex;
    width: 100%;
  }

  #menu-preview-gallery > .menu-item:nth-of-type(2),
  #menu-preview-gallery > .menu-item:nth-of-type(3){
    display: block;
  }

  .left-arrow, .right-arrow {
    display: none;
  }



}