.menu-item-header {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  direction: ltr;
}

.menu-item-header > h3 {
  margin-right: 1rem;
}

.menu-item-header::after{
  display: block;
  content: "";
  border-block-end: 0;
  border-block-start: 1px solid var(--black);
  flex-grow: 1;
}

.menu-header-container,
.menu-item-container {
  max-width: 1040px;
  margin: 1.5rem auto;
}

.menu-header-container {
  padding: 1rem 1.25rem;
}

.menu-header-container > p {
  opacity: .75;
  line-height: 1.75rem;
}

.menu-item-container {
  padding: 0 1.25rem;
}

.menu-item-header-container {
  margin-bottom: 1.25rem;
}

.menu-item-card {
  overflow: hidden;
}

.item-card-image {
  margin-bottom: .75rem;
  overflow: hidden;
  cursor: pointer;
}

.item-card-description > p {
  opacity: .75;
}

.menu-item-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.item-card-image img {
  transition: transform 1s ease; 
  max-height: 264px;
  width: 100%;
  object-fit: cover;
}

.item-card-image:hover img,
.item-card-image:focus img{
  transform: scale(1.1);
}


@media screen and (min-width: 500px) {
  .menu-item-card {
    width: calc(50% - .5rem);
  }
}

@media screen and (min-width: 900px) {
  .menu-item-card {
    width: calc(33% - .5rem);
  }

  .item-card-image img {
    min-height: 215px;
  }
}