.menu-item-header {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0;
  direction: ltr;
}

.menu-item-header > h3 {
  margin-right: 1rem;
}

.menu-item-header::after{
  display: block;
  content: "";
  border-block-end: 0;
  border-block-start: 1px solid var(--black);
  flex-grow: 1;
}