.message-container {
  text-align: center;
  margin-bottom: 1rem;
}

.message {
  line-height: 1.5rem;
}

.grid-title {
  margin-bottom: 1.5rem;
}


.player-container,
.computer-container { 
  width: 100%;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-container {
  display: flex;
  flex-direction: column-reverse;
  padding: 2rem 0;
}

#computer-grid .cell {
  cursor: pointer;
}

#computer-grid .cell img {
  max-width: none
}

#computer-grid .cell img[is="ship-img"] {
  position: absolute; /* Prevents it from affecting X */
  width: 150px; /* Keep your original sizing */
  height: 100%;
  left: 0; /* Adjust placement as needed */
  top: 0;
}

.shot {
  position: absolute;
  z-index: 2;
  left: 25%;
  width: 25px;
}

.miss {
  color: var(--whiteSmoke);
}

.hit {
  color: var(--red)
}

.play-again-containter {
  text-align: center;
  visibility: hidden;
}

@media screen and (min-width: 1140px) {
  .game-container {
    flex-direction: row;
    gap: 1rem;
    max-width: 1440px;
    margin: 0 auto;
  }
}