@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root { 
  --spanishGreen: #87907D;
  --greenSpring: #AAB6A2;
  --greenSpringOpac: #A4AD9A80;
  --bostonBlue: #4086AA;
  --white: #ffffff;
  --whiteSmoke: #EAEAEA;
  --black: #000000;
  --red: #7e3a3a;

  /* --cell-size: 7vw; */
  --font-size-body: 16px;
  --font-family-body: 'Press Start 2P', sans-serif
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  background-color: var(--spanishGreen);
}

button {
  font-family: var(--font-family-body);
  cursor: pointer;
  border: none;
  background: none;
  text-align: center;
  margin: 0 auto;
  font-size: 1rem;
  padding: .5rem;
  width: max-content;
}

button:hover,
button:focus {
  color: var(--bostonBlue)
}


h2,
h3,
h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}


img {
  max-width: 100%;
}