@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  --taupe: #463F3A;
  --battleShipGray: #8A817C;
  --offSilver: #BCB8B1;
  --isabelline: #F4F3EE;
  --winGreen: #90EE90;

  --font-family: 'Press Start 2P', sans-serif;
  --font-size-body: 16px;
}


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  font-size: var(--font-size-body);
  background-color: var(--taupe);
  color: var(--isabelline);
}

button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: var(--font-family);
}

section {
  margin-bottom: 1rem;
}

.container {
  padding: .5rem;
}


.header {
  text-align: center;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result-container {
  height: 2rem;
}

#game-board {
  height: 300px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 1px solid var(--battleShipGray);
}

.cell {
  background-color: var(--isabelline);
  border: 2px solid var(--battleShipGray);
  text-align: center;
  font-size: 2rem;
  color: var(--taupe);
  transition: 0.2s;
}

#score-board {
  display: flex;
  text-align: center;
  gap: 2rem;
}

.score {
  font-size: .65rem;
}

#btn-container {
  display: flex;
  gap: 2rem;
}

#btn-container button {
  padding: .75rem;
  background-color: var(--isabelline);
  color: var(--taupe);
  border: 2px solid var(--battleShipGray);
  line-height: 1.25rem;
  transition: 0.2s;
}

#btn-container button:hover,
#btn-container button:focus {
  opacity: .7;
}

.win {
  background-color: var(--winGreen);
}

.winText {
  color: var(--winGreen);
}

.not-active {
  opacity: .6;
}

@media (min-width: 550px) {
  #game-board {
    height: 500px;
    width: 500px;
  }

  .cell {
    font-size: 4rem;
  }

  .score {
    font-size: 1rem;
  }
}

@media (min-width: 1040px) {
  #game-board {
    height: 600px;
    width: 600px;
  }

  .cell {
    font-size: 5rem;
  }

  #score-board,
  #btn-container {
    gap: 5rem;
  }
}